# Editor/IDE
.ii-backup.patch
.amazonq
AGENTS.md
.kiro
.vscode
*.swp
*~
.context

# Docs (internal)
docs/OPTIMIZATION.md

# Python
__pycache__/
*.pyc
.venv/

# Build artifacts
*.qmlc
*.jsc

# Debug
debug_log.txt
dots/.local/state/Top-5-Bootloader-Themes/
dots/.config/quickshell/ii/
dots/.local/share/mybash/
dots/.local/share/Top-5-Bootloader-Themes/
dots/Pictures/Wallpapers/695ddd216adabdcf448401af.jpg
dots/Pictures/Wallpapers/695dde566adabdcf448407ae.jpg
dots/Pictures/Wallpapers/695de02c0f0487101b3a4d92.jpg
dots/Pictures/Wallpapers/xhq5yp_540c4e70005879d85600dd8269ffa059fd6d36bc.jpg
/dots/Pictures/Wallpapers
